--indent 4
--patternlet inline
--disable unusedArguments,hoistAwait,hoistTry,conditionalAssignment,wrapMultilineStatementBraces,braces,redundantreturn 
--header strip
--commas inline
--selfrequired waitFor,expectation
--swiftversion 5.9
--exclude ../../ios-libs-monorepo