--indent 4
--patternlet inline
--disable unusedArguments,hoistAwait,hoistTry,conditionalAssignment,wrapMultilineStatementBraces,braces 
--header strip
--commas inline
--selfrequired waitFor
--selfrequired expectation
--swiftversion 5.9